div    
    .form-group
        input(class="form-control",
        ng-model = "$ctrl.element.website",
        placeholder="url")
    .form-group
        input(class="form-control",
        ng-model = "$ctrl.element.login" ,
        placeholder="user")
    .form-group    
        input(class="form-control" ,
        ng-model = "$ctrl.element.password" ,
        placeholder="password" )
    p.p-red(ng-if="$ctrl.camposVacios") No puedes dejar los campos vacios.
    button(class = "btn button-table" ng-click= "$ctrl.guardar()") Save
    button(class = "btn button-table" ng-click= "$ctrl.reset()") Reset
    button(class = "btn button-table" ng-click= "$ctrl.cerrar()") Cancel
    

        
