div
    .passElem-exteriorbox
        strong(ng-if="!$ctrl.editMode") {{$ctrl.element.website}} {{$ctrl.element.login}} {{$ctrl.element.password}}
        span(ng-switch="$ctrl.editMode")
            span(ng-switch-when="true")
                input(ng-model = "$ctrl.element.website" , required)
                input(ng-model = "$ctrl.element.login" , required)
                input(ng-model = "$ctrl.element.password" , required)
                button(ng-click= "$ctrl.save()") Save
                button(ng-click= "$ctrl.reset()") Reset
            span(ng-switch-default)
                button(ng-click= "$ctrl.edit()") Edit
                button(ng-click= "$ctrl.delete()") Delete
            
