div
    .passElem-exteriorbox
        span(ng-switch="$ctrl.editMode")
            span(ng-switch-when="true")
                input(class="form-control" ng-model = "$ctrl.element.website")
                input(class="form-control" ng-model = "$ctrl.element.login")
                input(class="form-control" ng-model = "$ctrl.element.password")
                button(class = "btn button-table" ng-click= "$ctrl.save()") Save
                button(class = "btn button-table" ng-click= "$ctrl.reset()") Reset
            span(ng-switch-default)
                button(class = "btn button-table" ng-click= "$ctrl.edit()") Edit
                button(class = "btn button-table" ng-click= "$ctrl.wantDelete = true") Delete
div(ng-if = "$ctrl.wantDelete") Are you sure???????
    button(class = "btn button-table" ng-click= "$ctrl.delete()") Yes
    button(class = "btn button-table" ng-click= "$ctrl.wantDelete = false") No
            
