<html>

    <head>
        <title>RELOJ by Angel</title>
        <link href="https://fonts.googleapis.com/css?family=Play|Source+Sans+Pro" rel="stylesheet">
        <script src="https://use.fontawesome.com/f4e7614a5b.js"></script>
        <link rel="stylesheet" type="text/css" href="reloj.css">
    </head>

    <body>
        <div ng-app="RelojApp" ng-controller="RelojController as ctrl">
            <div class="clock-exteriorbox">
                <div class="clock-interiorbox">
                    <div class="clock-weekdaysbox">
                        <div class="clock-weekdays" ng-repeat="day in ctrl.daysArray" ng-class="{'highlight': $index === ctrl.weekday-1}">
                            {{day }}
                        </div>
                    </div>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <div class="clock-hoursbox">
                        <div class="clock-time" ng-if="ctrl.hours < 10">0</div>
                        <div class="clock-time">{{ ctrl.hours }}</div>
                        <div class="clock-time">:</div>
                        <div class="clock-time" ng-if="ctrl.minutes < 10">0</div>
                        <div class="clock-time">{{ ctrl.minutes }}</div>
                        <div class="clock-time">:</div>
                        <div class="clock-time" ng-if="ctrl.seconds < 10">0</div>
                        <div class="clock-time">{{ ctrl.seconds }} </div>
                    </div>
                    <div class="clock-format" ng-if="ctrl.format12">
                        <div ng-class="{'highlight': !ctrl.isNoon}">AM</div>
                        <div ng-class="{'highlight': ctrl.isNoon}">PM</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
        angular.module("RelojApp", []).controller("RelojController", ['$interval', function($interval) {
            var ctrl = this;
            secNum = 59;
            //Iniciación de todas las variables
            function init() {
                getActualDate();
                noonCheck();
                intervalTime(1);
            };
            init();

            //Funciones Privadas

            //Fecha actual
            function getActualDate() {
                ctrl.daysArray = ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN'];
                let date = new Date();
                ctrl.hours = 13;
                ctrl.minutes = 50;
                ctrl.seconds = date.getSeconds();
                ctrl.weekday = date.getDay();
            };

            //Noon check 
            function noonCheck() {
                ctrl.format12 = true;
                ctrl.format12 ? ctrl.noonHours = 12 : ctrl.noonHours = 24;
                ctrl.hours >= ctrl.noonHours ? (ctrl.isNoon = true, ctrl.hours = ctrl.hours - ctrl.noonHours) : ctrl.isNoon = false;
            };

            //Interval  
            function intervalTime(intervalMs) {
                $interval(() => {
                    actualizarHora();
                }, intervalMs);
            };

            //Actualiza la hora del Reloj cada vez que se llama
            function actualizarHora() {
                if (ctrl.seconds >= secNum) {
                    ctrl.seconds = 0;
                    ctrl.minutes++;
                    if (ctrl.minutes >= secNum) {
                        checkChange(ctrl.minutes, secNum) ? (ctrl.minutes = 0, ctrl.hours++) : '';
                        checkChangeWeekday();
                        checkChange(ctrl.hours, ctrl.noonHours) ? (ctrl.hours = 0, ctrl.isNoon = !ctrl.isNoon) : '';
                    }
                }
                ctrl.seconds++;
            };


            //Cambio de día de la semana
            function checkChangeWeekday() {
                if (ctrl.isNoon === true && ctrl.hours >= 12) {
                    if (ctrl.weekday < 7) {
                        ctrl.weekday++;
                    } else {
                        ctrl.weekday = 1;
                    }
                }
            };

            //Comprobación de cambio (Ej: Si han passado 60 segundos, devuelve true para incrementar los minutos)
            function checkChange(value, maxValue) {
                if (value >= maxValue) {
                    return true;
                } else {
                    return false;
                }
            };
        }]);
    </script>

</html>