<html>

    <head>
        <title>RELOJ by Angel</title>
        <link rel="stylesheet" type="text/css" href="reloj.css">
    </head>

    <body>
        <div ng-app="RelojApp" ng-controller="RelojController as RCtrl">
            <div class="clock">
                <div class="box">
                    <div class="box" ng-if="RCtrl.hours < 10">0</div> {{ RCtrl.hours }}
                </div>
                <div class="box">:</div>
                <div class="box">
                    <div class="box" ng-if="RCtrl.minutes < 10">0</div> {{ RCtrl.minutes }}
                </div>
                <div class="box">:</div>
                <div class="box">
                    <div class="box" ng-if="RCtrl.seconds < 10">0</div> {{ RCtrl.seconds }}
                </div>
                <div class="box" ng-if="RCtrl.format12">
                    <div class="box" ng-if="RCtrl.isNoon">PM</div>
                    <div class="box" ng-if="!RCtrl.isNoon">AM</div>
                </div>
            </div>
            <div class="box">
                <button ng-click="RCtrl.clickFormat()"> 
                    Format
                    <div class="box" ng-if="RCtrl.format12">(24h)</div>
                    <div class="box" ng-if="!RCtrl.format12">(12h)</div>
                </button>
            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
        angular.module("RelojApp", []).controller("RelojController", ['$interval', function($interval) {
            var ctrl = this;
            init();

            //Funciones Privadas
            function init() {
                let date = new Date();
                ctrl.hours = 23;
                ctrl.minutes = 59;
                ctrl.seconds = 57;
                ctrl.secNum = 59;
                ctrl.hourNum = 24;
                ctrl.noonHours = 12;
                ctrl.format12 = false;
                ctrl.hours > ctrl.noonHours ? ctrl.isNoon = true : ctrl.isNoon = false;

            };


            $interval(() => {
                actualizarHora();
                console.log(ctrl.isNoon);
            }, 1000);

            function actualizarHora() {
                if (ctrl.seconds >= ctrl.secNum) {
                    ctrl.seconds = 0;
                    ctrl.minutes++;
                    checkChange(ctrl.minutes, ctrl.secNum) ? (ctrl.minutes = 0, ctrl.hours++) : '';
                    checkChange(ctrl.hours, ctrl.noonHours) ? (ctrl.hours = 0) : '';
                }
                ctrl.seconds++;
            };

            function checkChange(M, num) {
                if (M >= num) {
                    return true;
                } else {
                    return false;
                }
            };

            //Funciones públicas
            ctrl.clickFormat = () => {
                if (ctrl.format12 == false && ctrl.hours > ctrl.noonHours) {
                    ctrl.hours -= ctrl.noonHours;
                } else if (ctrl.format12 && ctrl.isNoon) {
                    ctrl.hours += ctrl.noonHours;
                }
                ctrl.format12 = !ctrl.format12;
            };
        }]);
    </script>

</html>