div.modal.fade(id="myModal" aria-hidden="true" role="dialog")
    div.modal-dialog.modal-sm
        div.modal-content
            span.modal-title Are you sure???????
            button.close(type="button" data-dismiss="modal") &times;
            span.modal-body
                button(class = "btn button-form" ng-click= "$ctrl.deleteElement($ctrl.elem)" data-dismiss="modal") Yes
                button(class = "btn button-form"  data-dismiss="modal") No