div(class="table-exterior-box")
    input(class="form-control" ng-model = "searchTerm" , required)
    button(class = "btn button-table" ng-click= "myFilter = searchTerm") Search
    button(class = "btn button-table" ng-click= "myFilter = ''") Restart
    table(class="table table-bordered")
        thead
            tr 
                th WEBSITE 
                th LOGIN
                th PASSWORD
                th OPTIONS
        tbody
            tr(ng-repeat = "element in $ctrl.elements | filter:myFilter")
                td {{element.website}}
                td {{element.login}}
                td 
                    span(ng-if = "showPass") {{element.password}} 
                    span(ng-if = "!showPass") {{('*').repeat(element.password.length)}}
                    button(ng-click = "showPass=!showPass" class="btn button-table btn-small") Show
                td
                    button(class = "btn button-table" ng-click= "$ctrl.edit($index)") Edit
                    button(class = "btn button-table" ng-click= "$ctrl.wantDelete=$index") Delete
                    div(ng-if = "$ctrl.wantDelete === $index") Are you sure???????
                        button(class = "btn button-table" ng-click= "$ctrl.deleteElement(element); $ctrl.wantDelete = ''") Yes
                        button(class = "btn button-table" ng-click= "$ctrl.wantDelete = ''") No
            tr
                td(colspan="4") 
                    button(class = "btn button-table" ng-click= "$ctrl.addElement()") Create
    passwordelementcomponent(ng-if="$ctrl.editMode || $ctrl.newRegister" save="$ctrl.guardar(elemento)" close="$ctrl.cerrar()")