p.p-red {
    color: red;
}

.table-exterior-box {
    font-family: Helvetica, Sans-Serif;
    padding: 30px;
    background-color: $color-box-pass-page;
    opacity: 0.9;
    border-radius: (30px/200px*$total-box-size);
    text-align: center;
}

.table {
    margin-top: 20px;
    text-align: center;
    color: $color-black;
    background-color: $color-white;
}

td,
th {
    text-align: center;
    max-width: 180px;
    width: 180px;
    min-width: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.active {
    color: $color-dark-green-primary;
}

.pixel-fixed {
    max-width: 50px !important;
}

tbody {
    text-overflow: ellipsis;
}

.btn-order {
    font-size: 10px;
    float: right;
    margin-left: 5px;
}

.modal-title {
    margin-top: 30px;
    margin-left: 85px;
    float: left;
}

.modal-content {
    align-items: center;
    height: 130px;
}

.modal-body {
    float: left;
    margin-left: 85px;
    margin-bottom: 10px;
}

.modal {
    margin-top: 200px;
    float: left;
}

button.close {
    margin: 5px;
    margin-right: 10px;
}

.options-btn {
    float: left;
}

.button-table {
    width: 73px;
    height: 30px;
    border-radius: 5.5px;
    background-color: #8bc34a;
    border: none;
}

.tooltip-inner {
    max-width: 100000px;
    /* If max-width does not work, try using width instead */
    width: auto;
}

.search {
    margin-left: 190px;
    width: 400px;
}