div(class="table-exterior-box")
    input(class="form-control" ng-model = "searchTerm" , required)
    button(class = "btn button-table" ng-click= "myFilter = searchTerm") Search
    button(class = "btn button-table" ng-click= "myFilter = ''") Restart
    table(class="table table-bordered")
        thead
            tr 
                th WEBSITE 
                th LOGIN
                th PASSWORD
                th OPTIONS
        tbody
            tr(ng-repeat = "element in $ctrl.elements | filter:myFilter")
                td {{element.website}}
                td {{element.login}}
                td 
                    span(ng-if = "showPass") {{element.password}} 
                    span(ng-if = "!showPass") {{('*').repeat(element.password.length)}}
                    button(ng-click = "showPass=!showPass" class="btn button-table btn-small") Show
                td
                    passwordelementcomponent(class="passElem" element="element" on-delete = "$ctrl.deleteElement(element)")
            tr
                td(colspan="4") 
                    button(class = "btn button-table" ng-click= "$ctrl.addElement()") Create
    
            
