html(ng-app = 'app')
    head
        title GESTOR DE CONTRASEÑAS
        link(rel= 'stylesheet', href="https://fonts.googleapis.com/css?family=Play|Source+Sans+Pro")
        link(rel='stylesheet', type='text/css', href='main.css')
    body(class ="body-background")
        div(class="container-fluid" ng-view)                      
    footer Made by Angel Urbano  
    script(src='js/bower.js')
    script(src='js/main.js')
    