$color-black: #000000;
$color-grey: #424242;
$color-white: #ededed;
$color-green-primary:#8BC34A;
$color-dark-green-primary: #689F38;
$color-light-green-primary:#DCEDC8;
$color-secondary-text: #757575;
$color-divider:#BDBDBD;
$color-buttons:#607D8B;
$total-box-size: 200px;
$font-family-exteriorbox: 'Source Sans Pro',
sans-serif;
$font-family-hoursbox: 'Play',
sans-serif;
$font-family-form :Helvetica,
Sans-Serif;