$color-black: #000000;
$color-grey: #424242;
$color-white: #ededed;
$total-box-size: 200px;
$font-family-exteriorbox: 'Source Sans Pro',
sans-serif;
$font-family-hoursbox: 'Play',
sans-serif;
$font-family-form :Helvetica,
Sans-Serif;