div(class = "home-style")
    relojcomponent
    img(class = "lock-icon" src = "images/icon.png")
    formcomponent(class = "form",
                    on-login = "$ctrl.login(user, password)", 
                  is-correct = "$ctrl.isCorrect")