div.container
    h1.name-app GoPass
    img.lock-icon( src = "images/icon.png")
    formcomponent(on-login = "$ctrl.login(user, password)", 
                    is-correct = "$ctrl.isCorrect")
    relojcomponent.home-comp
