.body-background {
    background-image: url(images/fondoGestor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'cursive';
    color: #8f8f8f;
}

.clock-component {
    position: absolute;
    bottom: 0px;
}