div
    .form-exteriorbox
        .login-title Log in
        form(class="form-loginbox")
            input(type='text', 
                class="form-name", 
                placeholder = "Username",
                ng-model = "$ctrl.username", 
                required)
            input(type='password', 
                class ="form-password", 
                placeholder = "Password",
                ng-model = "$ctrl.password", 
                required) 
            input(type='submit', 
                value="Send", 
                class ="form-button", 
                ng-click= "$ctrl.login()")
        span(class="form-error") {{$ctrl.messageError}}
