.form-exteriorbox {
    position: absolute;
    font-family: Helvetica, Sans-Serif;
    background-color: $color-white;
    width: $total-box-size *1.7;
    opacity: 0.9;
    border-radius: (30px/200px*$total-box-size);
    text-align: center;
    height: $total-box-size * 1.45;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-loginbox {
    padding-top: 10%;
    text-align: center;
}

.login-title {
    font-size: 300%;
    margin-top: 15px;
    font-family: $font-family-form;
    color: $color-black;
    font-size: 60px;
}

.form-name {
    float: left;
    width: inherit;
    margin-left: 24%;
    margin-bottom: 3%;
}

.form-password {
    float: left;
    width: inherit;
    margin-left: 24%;
    margin-bottom: 2%;
}

.form-button {
    float: right;
    width: 60px;
    margin-right: 26.5%;
    background-color: $color-green-primary;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: $color-dark-green-primary !important;
}

.form-error {
    float: left;
    margin-left: 60px;
    margin-top: 30px;
    color: red;
}

.form-button,
.form-name,
.form-password {
    padding: 6px;
    border-radius: (5px/200px*$total-box-size);
}

.form-name:focus,
.form-password:focus,
.form-button:focus {
    outline: none;
}

.form-name:hover,
.form-password:hover,
.form-button:hover {
    background-color: $color-white;
}

.form-name::-webkit-input-placeholder,
.form-password::-webkit-input-placeholder {
    font-family: $font-family-form;
}