.pass-page {
    position: fixed;
    margin-top: 2%;
    margin-left: 2%;
    opacity: 0.9;
}

.pass-page:hover {
    opacity: 1;
}

.top-right-pass-page {
    position: fixed;
    padding: 2%;
    right: 2%;
}

relojcomponent.pass-comp {
    float: right;
    margin-top: 10%;
}

.btn-logout {
    float: right;
    background-color: $color-white;
    opacity: 0.9;
    width: 100px;
    height: 40px;
    margin-left: 10%;
}

.btn-logout:hover {
    background-color: $color-white!important;
    opacity: 1;
}

.welcome {
    margin-bottom: 5%;
    margin-top: 6%;
    float: left;
    color: $color-white;
    font-size: 60px;
    font-weight: 800;
    margin-left: 24%;
}

tablecomponent {
    float: left;
    margin-left: 10.5%;
    margin-bottom: 8.5%;
}