img.lock-icon.pass-page(src = "images/icon.png")
div.top-right-pass-page
    button.btn.btn-logout(ng-click = "$ctrl.logout()") Log Out
    relojcomponent.pass-comp  
div.container
    h1.welcome Welcome {{$ctrl.username}}!
    tablecomponent
    